<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vertical Search</title>
</head>

<body>
    <h1>Vertical Search</h1>
    <form action="/" method="post">
        <label for="query">Enter your query:</label>
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>
    <br>
    <br> {% if results %}
    <table border="2">
        <tr>
            <th>Rank</th>
            <th>URL</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.rank }}</td>
            <td><a href="{{ result.url }}" target="_blank">{{ result.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>

</html>